@font-face {
    font-family: 'retro';
    src: url('Haike-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Haike-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('Haike-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('Haike-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Haike-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
        
}

@font-face {
    font-family: 'digital';
    src: url('clock.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('clock.woff2') format('woff2'), /* Super Modern Browsers */
    url('clock.woff') format('woff'), /* Pretty Modern Browsers */
    url('clock.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('clockg.svg#svgFontName') format('svg'); /* Legacy iOS */
}
  
html { 
    background:  url("https://wallpaperplay.com/walls/full/6/6/a/34850.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#title {
    text-align: center;
    font-family: 'Bungee Shade';
    font-size: 150px;
    display: inline-block;    
    color: whitesmoke;
    text-shadow: 2px 2px 4px goldenrod, 2px 2px 8px whitesmoke;
    margin-top: 100px;
}


#target {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'digital';
    border: 0;
    margin: 5px;
    margin-bottom: 20px;
    
    display: inline-block;
}

#menubox {
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    border-width: 5px;
    border-color: black;
    margin: auto;
    position: relative;
    margin-top: 100px;
    width: 1100px;
    height: 700px;
    background: rgba(1, 14, 46,0.7)
}

#timer {
    font-family: 'digital';
    color:whitesmoke;
    font-size: 30px;
}

#new-game {
    font-family: 'digital';
    font-size: 35px;
    font-weight: bold;  
    color: whitesmoke;
    margin: auto;
}
#new-game:hover {
    transform: scale(1.2); 
}

#overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    margin-top: -25px;
}

#countdown {
    font-size: 300px;
    font-family: 'digital';
    color: whitesmoke;
    margin-top: 200px;
}

#select-difficulty {
    font-family: 'digital';
    color: whitesmoke;
    font-size: 35px;
    font-weight: bold;  
    margin-top: 250px;
}

.new-game:hover {
    transform: scale(1.2); 
}

#score-board {
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 30px;
    display: flex;
    border-radius: 20px;
    flex-wrap: wrap;
}

#math-container {
    border-style: solid;
    border-width: 5px;
    border-color: whitesmoke;
    display: inline-block;
    border-radius: 10px;
}

.fa-check {
    color: #3cb63a;
    margin: 5px;
}
.fa-times {
    margin: 5px;
}

.operator {
    width: 100px;
    height: 100px;
    margin: 5px;
    border:0;
    color: whitesmoke;
    border-radius: 10px;
    background: #e98f2d;
}
.operator:active {
    transform: scale(0.9);
}

/* #\-{
    background: #367ec6;
}

#\+{
    background: #e2ba36;
}

#\*{
    background: #e98f2d;
}

#\/{
    background:#3cb63a;
} */

.paren {
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: 0;
    margin: 5px;
    color: whitesmoke;
    border-radius: 10px;
    background:#ac3ab6;
}



.prim {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: 'digital';
    width: 100px;
    min-height: 100px;
    height: 100px;
    border: 0;
    margin: 10px;
    border-radius: 10px;
    background: #3cb63a;
}

button:disabled {
    background: #74777a;
}

button#clear{
    color: whitesmoke;
    font-family: 'digital';
    font-weight: bold;
    font-size: 40px;
    width: 150px;
    height: 75px;
    border: 0;
    background: rgb(54, 115, 228);
    border-radius: 10px;
}

button#undo{
    color: white;
    font-size: 40px;
    width: 150px;
    height: 75px;
    background: rgb(54, 115, 228);
    border: 0;
    margin: 5px;
    border-radius: 10px;
}

button#submit{
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
    width: 350px;
    font-family: 'digital';
    height: 75px;
    border: 0;
    margin: 5px;
    background: #76f012;
    border-radius: 10px;
}

button#submit:disabled{
    background: #74777a;
}

.prim[data-used='true']{
    background: #5c5e61
}

#answer-display {
    color: white;
    min-height: 50px;
    font-size: 50px;
    font-family: 'digital';
    font-weight: bold;
    text-shadow: 2px 2px 4px goldenrod, 2px 2px 8px whitesmoke;
    border: 0;
    margin: 40px;
    border-radius: 10px;
}

.to-title-screen {
    font-family: 'digital';
    font-size: 25px;
    font-weight: bold;  
}

.to-title-screen:hover {
    transform: scale(1.2); 
}

#top-ten {
	width: 600px;
    height: auto;
    margin-left:auto; 
    margin-right:auto;
    font-family: 'digital';
    font-size: 25px;
    font-weight: bold;  
    color: whitesmoke; 
}

#leaderboard{
    font-family: 'digital';
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
}
.to-title-screen {
    font-family: 'digital';
    color: whitesmoke;
    margin-top: 20px;
}

.leader-row {
	position: relative;
	display: block;
    width: 100%;
    margin: 5px;
    color: whitesmoke;
	height: 40px;
    border-bottom: 1px solid #AFAFAF;
      
}

.leader-name {
	position: relative;
    display: inline-block;
    color: whitesmoke;
	width: 75%;
	line-height: 45px;
}

.leader-score {
    position: relative;
    color: whitesmoke;
	display: inline-block;
}

#results-page {
    font-family: 'digital';
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

#record-box {
    margin-top: 20px;
    overflow-y: scroll;
    height: 400px;
}

#results-score { 
    font-size: 30px;    
}

#target-number{
    font-size: 75px;
}
