@font-face {
    font-family: 'retro';
    src: url('Haike-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Haike-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('Haike-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('Haike-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('Haike-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
  
html { 
    background:  url("https://wallpaperplay.com/walls/full/6/6/a/34850.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#title {
    border-style: solid;
    border-width: 5px;
    border-color: aqua;
    text-align: center;
    font-family: 'retro';
    font-size: 30px;

}

#answer-display {
    min-height: 100px;
}
#menubox {
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    border-width: 5px;
    border-color: black;
    margin: auto;
    position: relative;
    margin-top: 100px;
    width: 1100px;
    height: 700px;
    background: rgba(255,255,255,0.5)
}
#new-game {
    font-family: 'retro';
    font-size: 25px;
    font-weight: bold;  
    margin-top: 400px;
}
#new-game:hover {
    transform: scale(1.2); 
}

#overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    margin-top: -20px;
}

#countdown {
    font-size: 400px;
    color: whitesmoke;
    margin-top: 100px;
}

#select-difficulty {
    font-family: 'retro';
    font-size: 25px;
    font-weight: bold;  
    margin-top: 250px;
}

.new-game:hover {
    transform: scale(1.2); 
}

#score-board {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
}
.fa-check {
    color: green;
    margin: 5px;
}

.fa-times {
    margin: 5px;
}

.operator {
    width: 100px;
    height: 100px;
    border:0;
    color: whitesmoke;
    border-radius: 10px;
    background: #e98f2d;
}
.operator:active {
    transform: scale(0.9);
}

/* #\-{
    background: #367ec6;
}

#\+{
    background: #e2ba36;
}

#\*{
    background: #e98f2d;
}

#\/{
    background:#3cb63a;
} */

.paren {
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border: 0;
    margin: 5px;
    color: whitesmoke;
    border-radius: 10px;
    background:#ac3ab6;
}



.prim {
    color: white;
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 0;
    margin: 5px;
    background: #3cb63a;
    border-radius: 10px;
}

.prim:disabled {
    background: #74777a;
}

.prim[data-used='true']{
    background: #5c5e61

}

p#answer-display {
    color: white;
    font-size: 40px;
    padding: 20px;
    border: 0;
    margin: 40px;
    background: #3cb63a;
    border-radius: 10px;
    font-family: 'system-ui';

}

.to-menu {
    font-family: 'retro';
    font-size: 25px;
    font-weight: bold;  
}

.to-menu:hover {
    transform: scale(1.2); 
}

#top-ten {
	width: 600px;
	height: auto;
}

.leader-row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.leader-name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}

.leader-score {
	position: relative;
	display: inline-block;
}